:root {
    --black-color: #3a404d;
    --white-color: #ffffff;
}
.CODE_SEC_CODER {
    width: 500px;
    max-height: 400px;
    margin: 10px;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
}
.CODE_SEC_P_BTN {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-color);
    padding: 10px;
    margin: 0;
}
.CODE_CODER {
    margin: 0;
    font-size: 12px;
}
.poppins-regular-PH1DATA {
    color: var(--white-color);
    text-align: justify;
    text-wrap: wrap;
    word-break: break-all;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
.CODE_COPY_BTN {
    border: 1px ;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .CODE_SEC_CODER {
        width: 300px;
        margin: 10px;
        padding: 0;
        overflow: scroll;
    }
}